---
import { basics } from '@cv'
const { name, label, image, location, profiles, phone, email } = basics
const { city, region } = location
---

<section>
    <div class="container">
        <div class="info"> 

        </div>

    </div>
</section>


<h2>Hero</h2>

<style>
    .container{
        
    }


    
</style>